<div class="span9">
  <div class="hero-unit">
    <!--style="background-image: url('/assets/img/reflected_me_background.jpg');"-->
    <p>
    I have a background in electrical and computer engineering with a history of 
    solving difficult problems in consumer devices.
    I use the term "consumer" loosely, as I have worked on various industrial
    and defense products which carry their own unique challenges. 

    </p><p>
    I am interested in producing engaging and intuitive interactions with technology. Sometimes these are useful and further
    the goals and abilities of the user, but if they are simply wildly entertaining, that has value too.
    </p><p>
    Currently I work with a select few of really fantastic folks at <a href="http://labs.sensorstar.com">Sensorstar LABS</a>
    </p><p>
    The title of the site comes from a lyric by Count Bass D off a track called Potholderz - MF DOOM feat. Count Bass D.
    </p><p>

    </p><p>
    </p><p>
    Check my resume: <a href='/assets/david_cummings_resume.pdf'>PDF</a>
    </p><p>
    ...and obviously peruse the site to see more of what I'm about...
    </p>
    <img src="/assets/img/reflected_me_background.jpg"></img>
  </div><!--/row-->
</div><!--/span-->
