<div class="span9">
  <div class="hero-unit"
    style="background-image: url('/assets/img/reflected_me_background.jpg');">
    <p>
I have a background in computer and electrical engineering with a focus on solving difficult problems in consumer devices.
I use the term "consumer" loosely, as I have worked on various industrial and defense products which carry their own 
unique challenges. 

</p><p>
</p><p>

</p><p>
</p><p>
Check my resume: <a href='/assets/david_cummings_resume.pdf'>PDF</a>
</p><p>
...and obviously peruse the site to see more of what I'm about...
</p>
    </div><!--/row-->
  </div><!--/span-->
