<div class="span9">
  <div class="hero-unit">
    <!--style="background-image: url('/assets/img/reflected_me_background.jpg');"-->
    <p>
    I have a background in electrical and computer engineering with a history of 
    solving difficult problems in consumer devices.
    I use the term "consumer" loosely, as I have worked on various industrial
    and defense products which carry their own unique challenges. 
    </p><p>
    I am interested in producing engaging and intuitive interactions with technology.
    Further, in order to be meaningfully engaged a technology must be capable - this is
    the source of much of my interest in high performance computing.
    </p><p>
    Currently I'm working on making handling big data more natural, capable, and seamless with 
    a small group at Talksum, Inc.
    
    Previously, I worked with a very interesting group of really fantastic, imaginiative people at <a href="http://labs.sensorstar.com">Sensorstar LABS</a>
    </p><p>
    </p><p>
    </p><p>
    Resume and contact: <a href='/assets/david_cummings_resume.pdf'><object data='/assets/david_cummings_resume.pdf'
        type="application/pdf" width="100%" height="800"></object></a>
    </p><p>
    ...and obviously, peruse the site to see more of what I'm about...
    </p>
    <img src="/assets/img/reflected_me_background.jpg"></img>
    </p><p>
    By the way, the title of the site comes from a lyric by Count Bass D from a track called Potholderz. I like it.
  </div><!--/row-->
</div><!--/span-->
