<div class="span9">
  <div class="hero-unit"
    style="background-image: url('/assets/img/reflected_me_background.jpg');">
      <h1>Welcome!</h1>
      <p>This is my humble home on the web. Very much a work in progress currently (dec. 2012), I'm using middleman app along with twitter bootstrap 
      to give myself a place to keep notes and pictures of my personal projects. 
      Enjoy and let me know if you find errors or want more info about something.</p>
      <p><a class="btn btn-primary btn-large" href="about.html">Who am I? &raquo;</a></p>
    </div>
    <div class="row-fluid">
      <div class="span9">
        <h2>PA3AKE BOM</h2>
        <p>I've taken Martein Bakker's parts lists for his H-mode receiver front-end and updated them to reflect recent parts available at DigiKey and other vendors. This is somewhat US-centric, but hopefully it may help others build up his boards. </p>
        <p><a class="btn" href="#">More info &raquo;</a></p>
      </div><!--/span-->
    </div><!--/row-->
    <div class="row-fluid">
      <div class="span6">
        <h2>SV650 Complete!</h2>
        <p>...at least for now. She's back on the road! GSX-R front-end, ZX-10R shock, lots of lathe work and some interesting bracket choices...</p>
        <p><a class="btn" href="/projects/SV650.html">Check it out &raquo;</a></p>
      </div><!--/span-->
      <div class="span6">
        <h2>CBR600F4 -> NYC</h2>
        <p>With the SV on the road, there was a big empty space in my office next to my desk. Favorably, this coincided with the garage in Baltimore I'd been sharing closing down, so now I've got a 2000 CBR600F4 in need of some TLC to fill the hole.</p>
        <p><a class="btn" href="/projects/CBR600F4.html">Progress? &raquo;</a></p>
      </div><!--/span-->
    </div><!--/row-->
  </div><!--/span-->


