<div class="span9">
  <div class="hero-unit">
    <h3>My Electronics Lab</h3>
    <p>Although I work in electronics, I felt I should have a workbench at home
    where I could experiment with non-work-related projects and build whenever the
    inspiration struck. I am trying to focus on analog experimentation here,
    although the digital world is pervasive and will certainly intrude.</p>
  </div>
  <h4>Components in stock</h4>
  <p>The evolution of my component storage program involves maintaining a
  catalog of my stock - currently that's a spreadsheet. I've embedded it here.
  On the off chance that I have some rare part you need, get in touch, I might
  be able to help you out.</p>
  <iframe width='500' height='300' frameborder='0' src='https://docs.google.com/spreadsheet/pub?key=0Ajm0dWRtD-_3dHdQZEVSaDEzTzdwcFdwZW9OQWZhSUE&output=html&widget=true'></iframe>
  <h4>Equipment</h4>
  <p>I had a surprising amount of equipment when I decided to go ahead and 
  set up at home. The DMM, logic analyzer, soldering iron, and power supply
  I already had. I added an oscilloscope and a spectrum analyzer. Still need 
  another dozen power supplies and some more RF gear would be nice.</p>
  <ul>
    <li><a href="/lab/Tek_7104.html">Tektronix 7104 Oscilloscope</a>
    <p>The darling of the lab, 1GHz analog bandwidth.</p>
    </li>
    <li>Digital Multimeter</li>
    <li>Weller WES51 Soldering Iron</li>
    <li>Power Supply</li>
    <li>Tektronix 7603
    <p>7L13 10kHz-1.8GHz Spectrum Analyzer Plugin</p>
    </li>
  </ul>


</div>



