<div class="span9">
  <div class="hero-unit">
      <h2>CBR600F4</h2>
      <p>I got this CBR for a very reasonable price from some friends in Baltimore. 
      An associate of theirs had too much fun and too little understanding and overtightened the chain
      on a group ride. Result: shredded primary cover and waterpump, as well as a complete loss of 
      oil while running.</p>
    </div>
      <p>I probably should've/could've torn it down first to take stock, but I got a bit trigger happy on 
      eBay and got myself a low mileage bottom end and what I thought was a complete top end, planning to do a swap.</p>
      <p>Well -- these things never go to plan, it's been a while, I and the bike have moved to NYC, I set up a workbench, 
      the engine stand and bracket is almost complete, and we're digging in. So far, I'm missing cams and a waterpump. 
      The rest remains to be sorted. Follow my progress. </p>
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <img src="../assets/img/cbr600_gallery/old_engine_on_dolly.jpg" alt="">
            <div class="carousel-caption">
              <h4>Step 1: Pull the old engine</h4>
              <p>Engine came out surprisingly easily, was super grungy from spilled oil and road grime, but honda uses 
              like a total of 3 different socket sizes, so all was gravy (major exception? the carb boots...)</p>
            </div>
          </div>
          <div class="item">
            <img src="../assets/img/cbr600_gallery/old_engine_destruction_closeup.jpg" alt="">
            <div class="carousel-caption">
              <h4>That's your problem, right there...</h4>
              <p>At first I thought the case was punctured, turns out just trimmed a bit - the oil came out when the 
              water pump did - the chain completely sheared the waterpump mounting boss...</p>
            </div>
          </div>
          <div class="item">
            <img src="../assets/img/cbr600_gallery/new_bottom_end_left.jpg" alt="">
            <div class="carousel-caption">
              <h4>The new bottom end, left side</h4>
              <p>The new bottom end made the trip up well, looks pretty darn clean, save some surface rust from sitting 
              for close to 2 years.</p>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
