<div class="span9">
  <div class="hero-unit"> 
    <h2>199? Kawasaki KX60</h2>
    <p>Another Baltimore "good deal" - this little minibike had a completely blown rear shock when I picked it up.
    It did, however, totally rip once I rebuilt the carburetor - so much so that when I came back to pick it up a few
    months after moving to NYC, a few friends gave me the bad news that it had soft-seized on them. Lame, but I know
    how much fun it was - little wheelie machine. 
    </p>
  </div>
  <p>Currently it's totally torn down. The original plan was to stick an R6 shock on it, with new mounting tabs welded
  to the frame, swap the forks for KX65 forks with higher rate springs, and put NSF100 (NSR50) rims on it to go minibike
  road racing. I've moved farther from the track, but that would still be the smart move. </p>
  <p>Heady me wants to make a new frame for it, either conventional and still use the KX65 forks, but stretch it out a bit
  more to say, RS125 size so I fit on it; or do something radical like hub-center steering. I'd really like to do the latter
  but funds and time may force my hand. It would be better to have something running/racing than an idea...
  </p>
  <p> At the start of the teardown:</p>
  <a href="http://www.flickr.com/photos/ihasphoto/6909114878/" title="M3_Nokton_PanF_040412_jpeg_11 by ihasphoto, on Flickr"><img src="http://farm8.staticflickr.com/7066/6909114878_d56f638e32_b.jpg" width="1024" height="668" alt="M3_Nokton_PanF_040412_jpeg_11"></a>
</div>

