<div class="span9">
  <h2>Miscellaneous Project Listing</h2>
  <p>I use EverNote to try and keep track of my projects and project ideas, but I figure by listing some of
   the more interesting ones here, someone (you) might see something you'd like to help out with, or do yourself.
    </p>
    <p>Obviously, these aren't my super secret billion-dollar game changers, but they are often things I'd like to see 
    happen and could use, so if you figure something out let me know!</p>
  <ul>
    <li>Motorcycle Datalogger/IMU/GPS</li>
    <p>Preferably hooks up to your phone to provide a mobile dashboard and take it with you logging. Perhaps even 
    to the point of data connectivity on the road.</p>
      <li>Variable Gain Board</li>
      <li>Detector Board</li>
  </ul>
</div>
