<div class="span9">
  <div class="hero-unit"> 
    <!-- style="background-image: url('/assets/img/sv650/sv650_office_front.jpg'); background-size: 100%; height: 800px ;"-->
    <h2>2007 SV650 Naked</h2>
      <p>GSX-R600 Front End swap, Hayabusa front wheel & 320mm rotors, hand machined (by me!) caliper spacers,  
      axle spacer, exhaust bracket and spacers, steering damper L-bracket, rotors faced to fit spacing, 
      headlight bracket flipped, GSX-R clip-ons wired in, 
      throttle and clutch cables replaced and rerouted...<h3>ready to rock</h3> 
      </p>
<img src="/assets/img/sv650/sv650_office_front.jpg">
</div> 
  </div>

