<div class="span9">
  <div class="hero-unit">
    <h3>My implementation of the QRP-Tech list's Project 000<h3>
  </div> 
  <p>I chose to build the W7ZOI simple IC-based direct conversion receiver 
  as my first homebrew RF project. Since there are only two chips and a few
  passives, I also took the opportunity to do a surface mount single-sided
  layout, and I think it'll fit in an altoids case. Will update when I eat some...
  </p>
  <p>I ended up using some film trimmer caps since I was already ordering some for 
  another project, you may want to use air-variables as they will be easier to wire
  and probably easier to tune the radio in use. I also had to remove the 33pF 
  capacitor in the NE602 LO tank circuit, probably I had an extra turn on the inductor
  or just too much stray capacitance in my layout. </p>
  <p>You can download the BoM I used: <a href="/assets/ham_radio/QRP_000/DC_40M_RX_W7ZOI_BOM.xls">here</a>.
  The only parts not available from Digi-Key are the toroids, I got them from Diz, <a href="
    http://kitsandparts.com">The Toroid King</a> - can't recommend him highly enough. Schematics
  and board files for Eagle <a href="/assets/ham_radio/QRP_000/DC_40M_Rx.zip">here</a>.
  </p>
  <p>Some photos from the build:
  <div id=myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <img src="http://farm6.staticflickr.com/5329/8906505336_08620fface_b.jpg" alt="fresh">
        <div class="carousel-caption">
          <p>The freshly etched circuit board, just after wiping off the remaining
          toner with alcohol. The left side has some sharpie residue from an attempt to 
          preserve a larger ground plane. Obviously I didn't size it quite right...</p>
        </div>
      </div>
      <div class="item">
        <img src="http://farm6.staticflickr.com/5459/8905879207_0659e57e45_b.jpg" alt="tinned">
        <div class="carousel-caption">
          <p>Chuck recommends spraying the copper with spray lacquer, I didn't have any 
          and decided to tin the complete board to prevent oxidation. I did this with 
          the soldering iron, and would probably choose something different in the future.</p>
        </div>
      </div>
      <div class="item">
        <img src="http://farm6.staticflickr.com/5323/8905873595_b518d877e9_b.jpg" alt="half-built">
        <div class="carousel-caption">
          <p>Almost all built up, still need to place the headphone jack and wind the toroids.
          </p>
        </div>
      </div>
    </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
